
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* header  */
.top{
  width: 100%;
  height: 4rem;
  background-color: rgba(0, 0, 0, 0.7);
}
.container{
  width: 80%;
  margin: 0 auto;
}
.cart-icon{
  color:white;
  float: right;
  margin-top: .7rem;
  text-align: center;
}
.cart-icon a{
  color: white;
  text-decoration: none;
}
.logo{
  padding: 1rem 0;
  border-bottom: 1px solid gray;
}
.logo a{
  color: black;
  text-decoration: none;
  text-align: center;
}

/* menu  */
.menu{
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  height: 100%;
}
.menu ul{
  list-style-type: none;
  margin: 0;
  display: flex;
  margin-left: 10rem;
}
.menu li{
  margin-left: 1.5rem;
}
.menu a{
  color:white;
  text-decoration: none;
}


.banner img{
  width: 100%;
}

/* recommend  */
.recommend-products{
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}
.recommend-products .recommend-product{
  margin-right: 1rem;
}

/* products  */
.products{
  width: 90%;
  margin: 0 auto;
  margin-top: 1.8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.products .product{
  padding: 1.5rem;
  margin: 0.5rem;
  border: 1px solid sandybrown;
}
.products .product .product-img{
  text-align: center;
  cursor: pointer;
}

/* footer  */
.footer{
  margin: 1.8em auto;
  border-top: 1px solid gray;
  padding: 0.3rem;
}
.right-footer{
  margin-left: auto ;
  text-align: right;
}

.product button{
  margin-left: 2.2rem;
  padding: 0.1rem 0.5rem;
  border: .1rem solid gray;
}


.cart table{
  width: 100%;
}
.cart button{
  padding: 0.01rem .5rem;
}

/* product detail  */
.product-detail-modal{
  padding: 2rem;
  display: flex;
  width: 70%;
  margin: auto;
}
.close-modal{
  float: right;
  padding: 0.1rem 0.5rem;
  margin-top: 2rem;
  margin-right: 1rem;
}
.close-modal:hover{
  color: yellow;
}
.product-detail-modal button{
  padding: 0.1rem 0.5rem;
}
.product-detail-modal .img{
  margin-top: 3rem;
  margin-right: 2rem;
}
.product-detail-modal button:hover{
  color: green;
}

.cart .clear-cart{
  float: right;  
  margin: 1rem ;
}
.order{
  content: "";
  clear: both;
}

.active{
  color: chocolate !important;
}

.order{
  margin: 1rem auto;
  width: 30%;
  text-align: center;
}
.order .order-button{
  background-color: yellow;
  padding: 0.3rem 2rem;
  border: .1rem solid gray;
}

/* order modal  */
.order-form{
  width: 30vw;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid gray; */
  padding: 1rem;
}
.order-form div{
  margin: 0.5em 0;
}
.order-form-modal{
  background-color: rgb(229, 226, 182);
  z-index: 99;
  width: 40%;
  height: 50%;
  position: absolute;
  top: 25%;
  left: 30%;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}
.order-form-modal .close-order-modal{
  padding: .1rem .5rem;
  position: absolute; 
  right: 0.5rem;
  top: 0.5rem;
  border: .1rem solid gray;
}
.order-form-modal .order-form button{
  padding: 0.3em 1rem;
  border: .1rem solid gray;
}

/* orders  */
.order-name{
  background-color: #BDDBD0;
  border: .1rem saddlebrown solid;
  border-radius: .3rem;
  -webkit-border-radius: .3rem;
  -moz-border-radius: .3rem;
  -ms-border-radius: .3rem;
  -o-border-radius: .3rem;
  width: 50%;
  margin: .5rem auto;
  padding: .5rem;
  text-align: center;
  cursor: pointer;
}

.order-item{
  width: 40%;
  background-color: #CBD0B9;
  border-radius: .2rem;
  -webkit-border-radius: .2rem;
  -moz-border-radius: .2rem;
  -ms-border-radius: .2rem;
  -o-border-radius: .2rem;
  margin: 0.2rem auto;
  text-align: center;
}